 body {
  background-color: rgba(90, 91, 90, 0.3);
}
.shadow {
  -moz-box-shadow:10px 10px 5px #000000;
-webkit-box-shadow:10px 10px 5px  #000000;
box-shadow: 10px 10px 5px #000000;
}
.cells-topleft {
  background-color: rgba(90, 91, 90, 0.5);
  border:solid 2px #000000;
  -moz-border-radius-topleft: 40px;
  -moz-border-radius-topright:1px;
  -moz-border-radius-bottomleft:1px;
  -moz-border-radius-bottomright:1px;
  -webkit-border-top-left-radius:40px;
  -webkit-border-top-right-radius:1px;
  -webkit-border-bottom-left-radius:1px;
  -webkit-border-bottom-right-radius:1px;
  border-top-left-radius:40px;
  border-top-right-radius:1px;
  border-bottom-left-radius:1px;
  border-bottom-right-radius:1px;
  height: 400px;

}

.cells-topright {
  background-color: rgba(90, 91, 90, 0.5);
  border:solid 2px #000000;
  -moz-border-radius-topleft: 1px;
  -moz-border-radius-topright:40px;
  -moz-border-radius-bottomleft:1px;
  -moz-border-radius-bottomright:1px;
  -webkit-border-top-left-radius:1px;
  -webkit-border-top-right-radius:40px;
  -webkit-border-bottom-left-radius:1px;
  -webkit-border-bottom-right-radius:1px;
  border-top-left-radius:1px;
  border-top-right-radius:40px;
  border-bottom-left-radius:1px;
  border-bottom-right-radius:1px;
  height: 400px;

}

.cells-bottomright {
  background-color: rgba(90, 91, 90, 0.5);
  border:solid 2px #000000;
  -moz-border-radius-topleft: 1px;
  -moz-border-radius-topright:1px;
  -moz-border-radius-bottomleft:1px;
  -moz-border-radius-bottomright:40px;
  -webkit-border-top-left-radius:1px;
  -webkit-border-top-right-radius:1px;
  -webkit-border-bottom-left-radius:1px;
  -webkit-border-bottom-right-radius:40px;
  border-top-left-radius:1px;
  border-top-right-radius:1px;
  border-bottom-left-radius:1px;
  border-bottom-right-radius:40px;
  height: 400px;
}

.cells-bottomleft {
  background-color: rgba(90, 91, 90, 0.5);
  border:solid 2px #000000;
  -moz-border-radius-topleft: 1px;
  -moz-border-radius-topright:1px;
  -moz-border-radius-bottomleft:40px;
  -moz-border-radius-bottomright:1px;
  -webkit-border-top-left-radius:1px;
  -webkit-border-top-right-radius:1px;
  -webkit-border-bottom-left-radius:40px;
  -webkit-border-bottom-right-radius:1px;
  border-top-left-radius:1px;
  border-top-right-radius:1px;
  border-bottom-left-radius:40px;
  border-bottom-right-radius:1px;
  height: 400px;

}



.default0 .area {
  fill: rgba(0, 0, 255, 0.7);
}

.default1 .area {
  fill: rgba(0, 249, 0, 0.7);
}

.default2 .area {
  fill:  rgba(215, 44, 44, 0.8);
}

.default3 .area {
  fill: rgba(215, 44, 255, 0.8);
}
.default4 .area {
  fill: rgba(215, 44, 190, 0.8)
}
.default5 .area {
  fill: rgba(0, 255, 190, 0.8);
}
.default6 .area {
  fill: rgba(0, 0, 92, 0.8);
}
.default7 .area {
  fill: rgba(255, 255, 92, 0.8);
}
.default8 .area {
  fill: rgba(255, 255, 221, 0.8);
}
.default9 .area {
  fill: rgba(255, 255, 255, 0.8);
}
.default10 .area {
  fill: rgba(70, 115, 255, 0.8);
}
.default11 .area {
  fill: rgba(70, 115, 68, 0.8);
}
.default12 .area {
  fill: rgba(70, 255, 68, 0.8);
}
.default13 .area {
  fill: rgba(232, 255, 0, 0.8);
}
.default14 .area {
  fill: rgba(215, 44, 255, 0.8);
}
.default15 .area {
  fill: rgba(215, 44, 255, 0.8);
}
