<!-- <select ng-model="host" ng-options="host for host in hosts"></select> -->
<br><br>
<img ng-hide="true" id='junkOne' src="" href=""/>
<h3>You are <strong style="color: blue;">blue</strong></h3>
<div class="row">
  <div class="col-md-6 cells-topleft">
  <epoch-graph></epoch-graph>
</div>
<div class="col-md-6 cells-topright">
  <epoch-graph></epoch-graph>

</div>
</div>
<div class="row">
  <div class="col-md-6 cells-bottomleft">
  <epoch-graph></epoch-graph>
</div>
<div class="col-md-6 cells-bottomright">
  <epoch-graph></epoch-graph>

</div>
</div>
